<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Time tracker">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/log-in.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../javascript/login.js"></script>
        <title>Log in</title>
    </head>
    <body>
        <aside>
            <div class="first-sidebar">
                <div class="search-btn-container">
                    <input type="text" class="search-input" placeholder="Search">
                    <button class="search-btn"><img src="../img/loupe.png" alt="loupe icon"></button>
                </div>
            </div>
            <div class="second-sidebar">
                <div class="sidebarlist">
                    <a href="https://example.com">Home</a>
                    <a href="https://example1.com">Sing Up</a>
                    <a href="https://example2.com">Log In</a>
                </div>
                <div class="get-in-touch-container">
                    <h3>Get in touch</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                        an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <address class="contactdata">
                        <div class="address-data-container">
                            <img src="../img/addressdata.png" alt="House icon">
                            <p>1245 Sffeinvrjrs, Bnaudasd</p>
                        </div>
                        <div class="email-data-container">
                            <img src="../img/emaildata.png" alt="Email icon">
                            <p>sikfifkgnmss@gmail.com</p>
                        </div>
                        <div class="phone-data-container">
                            <img src="../img/telephone.png" alt="Phone icon">
                            <p>958585412225</p>
                        </div>
                    </address>
                </div>
            </div>
        </aside>
        <div class="header-main-footer">
            <header>
                <button><img src="../img/Boton-menu.png" alt="Dropdown manu button"></button>
                <div class="tittle-container">
                    <h1>Trackgenix</h1>
                    <h2>by GigaTech Software Solutions SA</h2>
                </div>
            </header>
            <main>
                <div class="sign-in">
                    <h2>Log In</h2>
                    <form>
                        <div class="input-img-log-in">
                            <img src="../img/mail-log-in.png" alt="Mail image">
                            <input type="text"  placeholder="Email" class="form-input" id="email">
                        </div>
                        <div id="email-div"></div>
                        <div class="input-img-log-in">
                            <img src="../img/Lock.png" alt="Lock image">
                            <input type="password" placeholder="Password" class="form-input" id="password">
                        </div>
                        <div id="password-div"></div>
                    </form>
                    <div class="remember-me">
                        <input type="checkbox" name="remeber-me-chek-box">
                        <p>Remember me</p>
                    </div>
                    <a href="www.trackgenix/forgotpassword.com" class="forgot-password">Forgot password?</a>
                    <button id="continue-btn"><img src="../img/continue-btn.png" alt="Click here to continue"></button>
                    <p class="p-sign-up">
                        Dont have an account? <a href="sign-up.html">Sing up</a>
                    </p>
                </div>
            </main>
            <footer>
                    <div class="footer-media-logos">
                        <a href="www.facebook/trackgenix.com"><img src="../img/footer-facebook.png" alt="Facebook icon"></a>
                        <a href="www.linkedin/trackgenix.com"><img src="../img/footer-linkedin.png" alt="Linkedin icon"></a>
                        <a href="www.twitter/trackgenix.com"><img src="../img/footer-twitter.png" alt="Twitter icon"></a>
                        <a href="www.instagram/trackgenix.com"><img src="../img/footer-instagram.png" alt="Instagram icon"></a>
                        <a href="www.github/trackgenix.com"><img src="../img/footer-github.png" alt="Github icon"></a>
                    </div>
                    <div class="footer-data">
                        <p>Montevideo, Uruguay</p>
                        <p>Copyright © 2022  GigaTech Software Solutions SA</p>
                    </div>
            </footer>
        </div>
    </body>
</html>