@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: #373867;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
aside {
    float: left;
    width: 30%;
    height: 100%;
    margin-top: 40px;
}
main {
    float: right;
    width: 70%;
    height: 100%;
    font-size: 12px;
    margin-top: 70px;
}
section{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
h2{
font-size: 30px;
font-weight: 700;
}
h3{
    font-size: 20px;
}
p{
    font-size: 12px;
}
.header{
    border-bottom: 4px solid #49A37B ;
}
.header>h1{
    display:inline-block;
    font-size: 40px;
    font-weight: 700;
}
.header>h2{
    display: inline;
    margin-left: 50px;
    font-size: 12px;
    font-weight: 400;
}
.timetracker{
    padding-bottom: 20px;
    border-bottom: 4px solid #49A37B ;
}
.timetracker>h2{
    margin-top: 50px;
}
.timetracker>h3{
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}
.img-timetracker{
    position: relative;
    bottom: 100px;
    left: 50px;
    float: right;
    width: 500px;
}
.p-timetracker{
    width: 45%;
    min-width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}
.timetracker>a{
    top: 50px;
    width: 156px;
    height: 46px;
    padding: 14px 36px;
    background-color: #49a37b;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.functions{
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 4px solid #49A37B;
}
.functions>div{
    display: inline-block;
    width: 45%;
    margin-bottom: 50px;
}
.functions>h2{
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 4px solid #49A37B ;
}
.left{
    margin-right: 30px;
}
.functions img{
    float: left;
    margin-right: 10px;
}
.functions h3{
    display: inline-block;
    margin-bottom: 10px;
}
.tracktimewithtrackgenix{
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 4px solid #49A37B;
}
.tracktimewithtrackgenix>h2{
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 4px solid #49A37B ;
}
.tracktimewithtrackgenix div{
    display: inline-block;
    width: 22%;
    height: 160px;
    margin-right: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #373867;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.tracktimewithtrackgenix h3{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.tracktimewithtrackgenix img{
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}
.tracktimewithtrackgenix p{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 25px;
}
.contactus{
    height: 500px;
    margin-top: 50px;
    border-bottom: 4px solid #49A37B;
}
.contactus h2{
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 4px solid #49A37B ;
}
.contactus div{
    margin-bottom: 50px;
}
.inputname{
    width: 45%;
    height: 30px;
    margin-right: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: white;
}
.inputemail{
    width: 45%;
    height: 30px;
    margin-left: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}
.contactusselect{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: grey;
}
.contactusmessage{
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
}
.contactustext{
    display: block;
    height: 130px;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 40px;
    border: 1px solid #FFFFFF;
}
.contactusbottons{
    margin-top: 20px;
    margin-bottom: 40px;
}
.submit{
    width: 65px;
    height: 30px;
    margin-right: 10px;
    background-color: #49A37B;
    border-radius: 5px;
    border: 1px solid #49A37B;
    color: white;
}
.reset{
    width: 65px;
    height: 30px;
    background-color: #F13312;
    border-radius: 5px;
    border: 1px solid #F13312;
    color: white;
}
.aboutus{
    border-bottom: 4px solid #49A37B;
}
.aboutus div{
    margin-bottom: 20px;
}
.aboutus h2{
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: 4px solid #49A37B ;
}
.aboutus h3{
    margin-bottom: 20px;
    margin-top: 20px;
}
.aboutus2 {
    border-left: 2px solid white;
}
.aboutus2 p{
    margin-left: 20px;
}
.divlast3p{
    margin-left: 160px;
}
.aboutus img{
    display: inline;
    width: 250px;
}
.p1{
    float: right;
    width: 50%;
    margin-right: 200px;
    margin-top: 50px;
}
.p2{
    float: left;
    width: 60%;
}
.p3{
    width: 85%;
}
.footer1{
    border-bottom: 4px solid #49A37B;
}
.list{
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
}
.list ol{
    list-style: decimal;
}
.product{
    margin: -5px;
}
.company{
    margin: -15px;
}
.support{
    margin: -20px;
}
.generaldivlists{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.generaldivlists h3{
    margin-bottom: 20px;
}
.generaldivlists li{
    font-size: 16px;
}
.mediaslogos{
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.footer2 p{
    width: fit-content;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.search input{
    width: 60%;
    height: 40px;
    margin-left: 65px;
    background-color: #262862;
    border-radius: 5px;
    border: 1px solid #49A37B;
}
.search button{
    position: relative;
    top: 9px;
    right: 45px;
    background-color: transparent;
    border: none;
}
.secondsidebar{
    width: 100%;
    height: 3000px;
    margin-top: 25px;
    background-color: #262862;
}
.sidebarlist a{
    display: block;
    width: 85%;
    padding-top: 60px;
    margin-left: 20px;
    border-bottom: 2px solid #49A37B;
    font-size: 17px;
    text-decoration: none;
    color: #FFFFFF;
}
.getintouch{
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 20px;
}
.getintouch h3{
    margin-bottom: 40px;
    border-bottom: 4px solid #49A37B;
}
.getintouch p{
    font-size: 14px;
    text-align: justify;
}
.contactdata{
    margin-top: 100px;
}
.contactdata p{
    display: inline;
    margin-left: 70px;
    font-size: 14px;
}
.addressdata{
    border-bottom: 2px solid #49A37B;
}
.addressdata img{
    margin-left: -10px;
}
.addressdata p{
    position: relative;
    bottom: 20px;
    right: 20px;
}
.emaildata{
    margin-top: 60px;
    border-bottom: 2px solid #49A37B;
}
.emaildata img{
    margin-bottom: 15px;
    margin-left: 5px;
}
.emaildata p{
    position: relative;
    bottom: 20px;
}
.phonedata{
    margin-top: 60px;
}
.phonedata img{
    margin-bottom: 15px;
    margin-left: 8px;
}
.phonedata p{
    position: relative;
    bottom: 25px;
    right: 8px;
}