@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: #373867;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
aside {
    float: left;
    width: 30%;
    height: 100%;
}
main {
    float: right;
    width: 70%;
    height: 100%;
    font-size: 12px;
}
section{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
h2{
font-size: 30px;
font-weight: 700;
}
h3{
    font-size: 20px;
}
p{
    font-size: 12px;
}
.header{
    border-bottom: 4px solid #49A37B ;
}
.header>h1{
    display:inline-block;
    font-size: 40px;
    font-weight: 700;
}
.header>h2{
    display: inline;
    position: relative;
    left: 110px;
    font-size: 12px;
    font-weight: 400;
}
.s1{
    border-bottom: 4px solid #49A37B ;
    padding-bottom: 80px;
}
.s1>h2{
    position: relative;
    top: 30px;
}
.s1>h3{
    font-size: 20px;
    position: relative;
    top: 30px;
    font-weight: 400;
}
.img-s1{
    float: right;
    width: 45%;
    position: relative;
    bottom: 120px;
    left: 50px;

}
.p-s1{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    position: relative;
    width: 40%;
    min-width: 350px;
    margin-bottom: 30px;
    top: 30px;
}
.s1>a{
    position: relative;
    top: 50px;
    width: 156px;
    height: 46px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #49a37b;
    border-radius: 5px;
    padding: 14px 36px;
    text-decoration: none;
}
.s2{
    position: relative;
    top: 50px;
}
.h2-s2>h2{
    border-bottom: 4px solid #49A37B ;
    display: inline;
    top: 30px;
}
.div1-s2{
    position: relative;
    float: left;
    width: 45%;
    top: 70px;
}
.div1-s2>img{
    position: relative;
    display: inline;
    float: left;
    width: 20%;
    top: 25px;
}
.div1-s2>h3{
    display: inline;
    float: right;
    width: 75%;
}
.div1-s2>p{
    position: relative;
    display: inline;
    float: right;
    width: 75%;
    bottom: 20px;
}
.div2-s2{
    position: relative;
    float: right;
    width: 45%;
    top: 70px;
}
.div2-s2>img{
    position: relative;
    display: inline;
    float: left;
    width: 20%;
    top: 25px;
}
.div2-s2>h3{
    display: inline;
    float: right;
    width: 75%;
}
.div2-s2>p{
    position: relative;
    display: inline;
    float: right;
    width: 75%;
    bottom: 20px;
}
.div3-s2{
    position: relative;
    float: left;
    width: 45%;
    top: 120px;
}
.div3-s2>img{
    position: relative;
    display: inline;
    float: left;
    width: 20%;
    top: 25px;
}
.div3-s2>h3{
    display: inline;
    float: right;
    width: 75%;
}
.div3-s2>p{
    position: relative;
    display: inline;
    float: right;
    width: 75%;
    bottom: 20px;
}
.div4-s2{
    position: relative;
    bottom: 100px;
    float: right;
    width: 45%;
    top: 120px;
}
.div4-s2>img{
    position: relative;
    display: inline;
    float: left;
    width: 20%;
    top: 25px;
}
.div4-s2>h3{
    display: inline;
    float: right;
    width: 75%;
}
.div4-s2>p{
    position: relative;
    display: inline;
    float: right;
    width: 75%;
    bottom: 20px;
}
.s3{
    position: relative;
    top: 540px;
    border-top: 4px solid #49A37B ;
}
.s3>h2{
    border-bottom: 4px solid #49A37B ;
    position: relative;
    display: inline;
    bottom: 250px;
    float: left;
}










.s4{
    position: relative;
    top: 1200px
}
.s5{
    position: relative;
    top: 1600px;
}
.s6{
    position: relative;
    top: 2000px;
}