@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: #373867;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
aside {
    float: left;
    width: 30%;
    height: 100%;
}
main {
    float: right;
    width: 70%;
    height: 100%;
    font-size: 12px;
}
section{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
h2{
font-size: 30px;
font-weight: 700;
}
h3{
    font-size: 20px;
}
p{
    font-size: 12px;
}
.header{
    border-bottom: 4px solid #49A37B ;
}
.header>h1{
    display:inline-block;
    font-size: 40px;
    font-weight: 700;
}
.header>h2{
    display: inline;
    margin-left: 50px;
    font-size: 12px;
    font-weight: 400;
}
.timetracker{
    border-bottom: 4px solid #49A37B ;
    padding-bottom: 20px;
}
.timetracker>h2{
    margin-top: 50px;
}
.timetracker>h3{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
}
.img-timetracker{
    position: relative;
    float: right;
    width: 500px;
    bottom: 100px;
    left: 50px;

}
.p-timetracker{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    width: 45%;
    min-width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.timetracker>a{
    top: 50px;
    width: 156px;
    height: 46px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #49a37b;
    border-radius: 5px;
    padding: 14px 36px;
    text-decoration: none;
}
.functions{
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 4px solid #49A37B;
}
.functions>div{
    display: inline-block;
    width: 45%;
    margin-bottom: 50px;
}
.functions>h2{
    display: block;
    border-bottom: 4px solid #49A37B ;
    margin-top: 30px;
    margin-bottom: 50px;
    width: fit-content;
}
.left{
    margin-right: 30px;
}
.functions img{
    float: left;
    margin-right: 10px;
}
.functions h3{
    display: inline-block;
    margin-bottom: 10px;
}
.tracktimewithtrackgenix{
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 4px solid #49A37B;
}
.tracktimewithtrackgenix>h2{
    display: block;
    border-bottom: 4px solid #49A37B ;
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
}
.tracktimewithtrackgenix div{
    display: inline-block;
    width: 22%;
    height: 160px;
    margin-right: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #373867;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.tracktimewithtrackgenix h3{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.tracktimewithtrackgenix img{
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}
.tracktimewithtrackgenix p{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 25px;
}
.contactus{
    height: 500px;
    margin-top: 50px;
    border-bottom: 4px solid #49A37B;
}
.contactus h2{
    display: block;
    width: fit-content;
    border-bottom: 4px solid #49A37B ;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contactus div{
    margin-bottom: 50px;
}
.inputname{
    width: 45%;
    height: 30px;
    margin-right: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: white;
}
.inputemail{
    width: 45%;
    height: 30px;
    margin-left: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}
.contactusselect{
    display: block;
    width: 100%;
    background-color: transparent;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: grey;
}
.contactusmessage{
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
}
.contactustext{
    display: block;
    height: 130px;
    width: 100%;
    border-radius: 5px;
    border-bottom: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.contactusbottons{
    margin-top: 20px;
    margin-bottom: 40px;
}
.submit{
    background-color: #49A37B;
    border-radius: 5px;
    border: 1px solid #49A37B;
    width: 65px;
    height: 30px;
    margin-right: 10px;
    color: white;
}
.reset{
    background-color: #F13312;
    border-radius: 5px;
    border: 1px solid #F13312;
    width: 65px;
    height: 30px;
    color: white;

}