<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Time tracker">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../javascript/sign-up.js"></script>
        <title>Sign up</title>
    </head>
    <body>
        <aside>
            <div class="first-sidebar">
                <div class="search-btn-container">
                    <input type="text" class="search-input" placeholder="Search">
                    <button class="search-btn"><img src="../img/loupe.png" alt="loupe icon"></button>
                </div>
            </div>
            <div class="second-sidebar">
                <div class="sidebarlist">
                    <a href="https://example.com">Home</a>
                    <a href="https://example1.com">Sing Up</a>
                    <a href="https://example2.com">Log In</a>
                </div>
                <div class="get-in-touch-container">
                    <h3>Get in touch</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                        an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <address class="contactdata">
                        <div class="address-data-container">
                            <img src="../img/addressdata.png" alt="House icon">
                            <p>1245 Sffeinvrjrs, Bnaudasd</p>
                        </div>
                        <div class="email-data-container">
                            <img src="../img/emaildata.png" alt="Email icon">
                            <p>sikfifkgnmss@gmail.com</p>
                        </div>
                        <div class="phone-data-container">
                            <img src="../img/telephone.png" alt="Phone icon">
                            <p>958585412225</p>
                        </div>
                    </address>
                </div>
            </div>
        </aside>
        <div class="header-main-footer">
            <header>
                <button><img src="../img/Boton-menu.png" alt="Dropdown manu button"></button>
                <div class="tittle-container">
                    <h1>Trackgenix</h1>
                    <h2>by GigaTech Software Solutions SA</h2>
                </div>
            </header>
            <main>
                <div class="sign-up">
                    <h2>Sign up</h2>
                    <form>
                        <div class="column">
                            <div class="sign-up-divs">
                                <p>First Name</p>
                                <input type="text" id="first-name" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <p>Last Name</p>
                                <input type="text" id="last-name" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <p>DNI</p>
                                <input type="text" id="dni" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <p>Date of birthday</p>
                                <input type="date" id="birthday-date" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <p>Telephone</p>
                                <input type="text" id="last-name" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <p>Address</p>
                                <input type="text" id="address" class="form-input">
                            </div>
                        </div>
                        <div class="colum">
                            <div class="sign-up-divs">
                                <p>City</p>
                                <input type="text" id="city" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <p>Postal code</p>
                                <input type="text" id="postal-code" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <div class="p-img-form">
                                    <img src="../img/mail-log-in.png" alt="Mail image" class="email-img">
                                    <p>Email</p>
                                </div>
                                <input type="text" id="email" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <div class="p-img-form">
                                    <img src="../img/Lock.png" alt="Lock image">
                                    <p>Password</p>
                                </div>
                                <input type="text" id="password" class="form-input">
                            </div>
                            <div class="sign-up-divs">
                                <div class="p-img-form-repeat">
                                <img src="../img/Lock.png" alt="Lock image">
                                <p>Repeat password</p>
                                </div>
                                <input type="text" id="repeat-password" class="form-input">
                            </div>
                        </div>
                    </form>
                    <button><img src="../img/create-account-btn.png" alt="Click account"></button>
                </div>
            </main>
            <footer>
                    <div class="footer-media-logos">
                        <a href="www.facebook/trackgenix.com"><img src="../img/footer-facebook.png" alt="Facebook icon"></a>
                        <a href="www.linkedin/trackgenix.com"><img src="../img/footer-linkedin.png" alt="Linkedin icon"></a>
                        <a href="www.twitter/trackgenix.com"><img src="../img/footer-twitter.png" alt="Twitter icon"></a>
                        <a href="www.instagram/trackgenix.com"><img src="../img/footer-instagram.png" alt="Instagram icon"></a>
                        <a href="www.github/trackgenix.com"><img src="../img/footer-github.png" alt="Github icon"></a>
                    </div>
                    <div class="footer-data">
                        <p>Montevideo, Uruguay</p>
                        <p>Copyright © 2022  GigaTech Software Solutions SA</p>
                    </div>
            </footer>
        </div>
    </body>
</html>