main {
    display: flex;
    justify-content: center;
}

.sign-up {
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    color: #262862;
}

.sign-up h2 {
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 36px;
}

.sign-up-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    margin: 7%;
}

.sign-up-divs p {
    align-content: flex-end;
    vertical-align: bottom;
}

.form-input {
    width: 75%;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px #212121;
    font-size: 25px;
    text-align: center;
}

.p-img-form-email {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.email-img {
    max-width: 25%;
}

.p-img-form {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.warning  {
    display: flex;
    justify-content: center;
}

.warning p {
    font-size: 12px;
}

.sign-up button {
    padding: 0px;
    margin-top: 5%;
    border-radius: 5px;
    border-color: transparent;
    color: transparent;
    background-color: transparent;
}

.sign-up button img {
    max-width: 50%;
}

.p-log-in {
    margin-top: 2%;
    margin-bottom: 5%;
    text-decoration: none;
}

@media (min-width: 1024px) {
    form {
        display: flex;
        flex-direction: row;
    }

    .column1 {
        width: 55%;
    }

    .column2 {
        width: 70%;
    }

    .column1 p {
        font-size: 16px;
    }

    .column2 p {
        font-size: 16px;
    }

    .form-input {
        max-width: 60%;
    }

    .p-img-form-email p {
        margin-left: 10%;
    }

    .p-img-form p {
        width: 80%;
        margin-left: 10%;
    }
}