footer {
    width: 80%;
    margin: auto;
    margin-top: -3%;
}

.footer-media-logos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.footer-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-data p {
    justify-content: center;
}

@media (min-width:1024px){
    footer{
        width: 64%;
        float: right;
        margin-right: 2.5%;
    }

    .footer-lists {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3%;
        margin-bottom: 1%;
        border: none;
    }
    .footer-lists div {
        width: 35%;
        margin-left: 10%;
    }

    .company-list {
        margin-left: -5%;
    }

    .support-list {
        margin-left: -7%;
    }

    .footer-media-logos {
        margin-top: 10%;
        border-top: 4px solid #49A37B ;
    }
    .footer-media-logos a {
        margin-top: 3%;
    }
}