footer {
    width: 80%;
    margin: auto;
    margin-top: -3%;
}

.footer-media-logos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.footer-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-data p {
    justify-content: center;
}

@media (min-width:1024px){
    footer{
        width: 70%;
        float: right;
    }

    .footer-lists {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}