header {
    display: flex;
    width: 90%;
    margin: auto;
    border-bottom: 4px solid #49A37B ;
}

.tittle-container {
    margin: auto;
}

.tittle-container h1 {
    width: fit-content;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
}

.tittle-container h2 {
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    margin: auto;
}

header button {
    padding: 0px;
    background: none;
    border: none;
}

header img {
    width: 30px;
    background: none;
}

@media (min-width:480) {

    header {
        background-color: red;
    }
}

@media (min-width:1024px) {

    header {
        width: 70%;
        float: right;
        margin-top: 5%;
        border-bottom: 4px solid #49A37B ;
    }

    header button {
        display: none;
    }

    .tittle-container {
        width: 100%;
        margin-bottom: 2%;
    }

    .tittle-container  h1 {
        display:inline-block;
        font-size: 40px;
        font-weight: 700;
    }

    .tittle-container h2 {
        display: inline;
        margin-left: 50px;
        font-size: 12px;
        font-weight: 400;
    }
}