main {
    width: 80%;
    margin: auto;
}

section{
    border-bottom: 4px solid #49A37B ;
}

.timetracker {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-bottom: 4px solid #49A37B ;
}

.timetracker img{
    margin-top: 60px;
}

.timetracker-container {
    margin-bottom: 40px;
}

.timetracker h2 {
    font-size: 30px;
}

.timetracker h3 {
    font-size: 20px;
}

.timetracker p{
    font-size: 20px;
    margin-bottom: 40px;
}

    .btn-learn-more {
    width: 156px;
    height: 46px;
    padding: 14px 36px;
    background-color: #49a37b;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.why-track-time{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 5%;
}

.why-track-time div {
    justify-content: center;
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
    color: #373867;
}

.why-track-time h2 {
    width: fit-content;
    margin-top: 10%;
    border-bottom: 4px solid #49A37B;
}

.why-track-time h3 {
    margin-left: 10%;
}

.why-track-time p {
    margin-left: 10%;
    width: 80%;
}

.why-track-time img {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.decision-making-container {
    margin-bottom: 5%;
}

.contact-us h2 {
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 4px solid #49A37B ;
}

.name-email-select-area-container input {
    margin-bottom: 10%;
    width: 98%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: white;
}

.name-email-select-area-container select {
    margin-bottom: 10%;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: grey;
}

.contact-us-message {
    display: block;
    width: 100%;
    margin-bottom: 3%;
    font-size: 13px;
    font-weight: 500;
}

.contact-us-text {
    width: 98%;
    height: 70px;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 40px;
    border: 1px solid #FFFFFF;
}


.contact-us-btns-container {
    margin-top: 3%;
    margin-bottom: 15%;
    height: 20%;
}

.submit-btn {
    width: 25%;
    height: 30px;
    margin-right: 10px;
    background-color: #49A37B;
    border-radius: 5px;
    border: 1px solid #49A37B;
    color: white;
}

.reset-btn {
    width: 25%;
    height: 30px;
    background-color: #F13312;
    border-radius: 5px;
    border: 1px solid #F13312;
    color: white;
}

.about-us h2 {
    margin-top: 15%;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: 4px solid #49A37B ;
}

.about-us-first-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-us-first-h-p-container {
    max-width: 55%;
}

.about-us-first-h-p-container h3 {
    margin-top: -8px;
}

.about-us-first-container img {
    align-self: center;
    border-radius: 50px solid white;
    width: 150px;
    height: 100px;
}

.about-us-second-p-h-container {
    margin-bottom: 15%;
}

.about-us-second-p-container{
    border-left: 2px solid white;
}

.about-us-second-p-h-container p {
    margin-left: 5%;
    font-style: italic;
}

.about-us-last-three-h-p-img-container {
    display: none;
}

.footer-lists {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    text-decoration: none;
}

.list h3{
    margin-bottom: 0px;
    margin-top: 0px;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.list ol {
    margin: 0px;
    padding: 8%;
}


@media (min-width:1024px) {
    main {
        width: 70%;
        float: right;
    }
    .timetracker {
        flex-direction: row-reverse;
    }
    .timetracker p {
        width: 85%;
    }
    .timetracker img {
        width: 35%;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
