main {
    width: 80%;
    margin: auto;
}

section{
    border-bottom: 4px solid #49A37B ;
}

.timetracker {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-bottom: 4px solid #49A37B ;
}

.timetracker img{
    margin-top: 60px;
}

.timetracker-container {
    margin-bottom: 40px;
}

.timetracker h2 {
    font-size: 30px;
}

.timetracker h3 {
    font-size: 20px;
}

.timetracker p{
    font-size: 20px;
    margin-bottom: 40px;
}

    .btn-learn-more {
    width: 156px;
    height: 46px;
    padding: 14px 36px;
    background-color: #49a37b;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.why-track-time{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 5%;
}

.cards-container div {
    justify-content: center;
    margin-top: 5%;
    border-radius: 10px;
    color: #373867;
    background-color: #FFFFFF;
}

.why-track-time h2 {
    width: fit-content;
    margin-top: 10%;
    border-bottom: 4px solid #49A37B;
}

.why-track-time h3 {
    margin-left: 10%;
}

.why-track-time p {
    margin-left: 10%;
    width: 80%;
}

.why-track-time img {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.decision-making-container {
    margin-bottom: 5%;
}

.contact-us h2 {
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 4px solid #49A37B ;
}

.name-email-select-area-container input {
    margin-bottom: 10%;
    width: 98.2%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: white;
}

.name-email-select-area-container select {
    margin-bottom: 10%;
    width: 100%;
    height: 23px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: grey;
}

.contact-us-message {
    display: block;
    width: 100%;
    margin-bottom: 3%;
    font-size: 13px;
    font-weight: 500;
}

.contact-us-text {
    width: 98%;
    height: 70px;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 40px;
    border: 1px solid #FFFFFF;
}

.contact-us-btns-container {
    margin-top: 3%;
    margin-bottom: 15%;
    height: 20%;
}

.submit-btn {
    width: 25%;
    height: 30px;
    margin-right: 10px;
    background-color: #49A37B;
    border-radius: 5px;
    border: 1px solid #49A37B;
    color: white;
}

.reset-btn {
    width: 25%;
    height: 30px;
    background-color: #F13312;
    border-radius: 5px;
    border: 1px solid #F13312;
    color: white;
}

.about-us-header-thrid {
    display: none;
}
.about-us h2 {
    margin-top: 15%;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: 4px solid #49A37B ;
}

.about-us-first-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-us-first-h-p-container {
    max-width: 55%;
}

.about-us-first-h-p-container h3 {
    margin-top: -8px;
}

.about-us-first-container img {
    align-self: center;
    border-radius: 50px solid white;
    width: 150px;
    height: 100px;
}

.about-us-second-p-h-container {
    margin-bottom: 15%;
}

.about-us-second-p-container{
    border-left: 2px solid white;
}

.about-us-second-p-h-container p {
    margin-left: 5%;
    font-style: italic;
}

.about-us-last-three-h-p-img-container {
    display: none;
}

.footer-lists {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    text-decoration: none;
}

.list h3{
    margin-bottom: 0px;
    margin-top: 0px;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.list ol {
    margin: 0px;
    padding: 8%;
}

@media (min-width:480px) {
    .why-track-time {
        margin-top: 0px;
        margin-bottom: 10%;
    }

    .why-track-time h2 {
        margin-top: 5%;
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10%;
    }

    .cards-container  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards-container div {
        width: 45%;
        margin: 0;
        margin-top: 5%;
    }

    .name-email-container {
        display: flex;
        justify-content: space-between;
    }

    .name-email-select-area-container input {
        height: 30px;
        width: 48%;
        margin-bottom: 3%;
    }

    .name-email-select-area-container select {
        height: 30px;
        margin-bottom: 3%;
    }

    .contact-us-message {
        margin-bottom: 1%;
    }

    .contact-us-text {
        height: 100px;
        width: 99.4%;
    }

    .contact-us-btns-container {
        margin-bottom: 7%;
    }

    .contact-us-btns-container button {
        width: 10%;
    }

    .about-us-first-h-p-container {
        display: none;
    }

    .about-us-first-img {
        display: none;
    }

    .about-us-second-p-h-container  {
        display: none;
    }

    .about-us-last-three-h-p-img-container {
        display: block;
    }

    .about-us-last-three-h-p-img-container h3 {
        width: fit-content;
        height: fit-content;
    }

    .about-us-header-thrid {
        display: block;
    }

    .about-us-img-third-p {
        display: flex;
    }

    .about-us-img-third-p img {
        width: 20%;
    }

    .about-us-img-third-p p {
        margin-left: 2%;
        text-align: justify;
        font-size: 10px;
    }

    .about-us-fourth-p-img-container {
        display: flex;
        margin-bottom: 3%;
    }

    .about-us-fourth-p-img-container img {
        margin-top: -20%;
        margin-bottom: 10%;
        margin-left: 2%;
        width: 20%;
    }

    .about-us-last-p-container {
        display: flex;
        width: 50%;
        justify-content: center;
        margin-left: 22%;
        margin-top: -2.5%;
        font-size: 10px;
        text-align: justify;
    }

    .about-us-fourth-p-img-container p {
        font-size: 10px;
        text-align: justify;
        width: 75%;
    }
}

@media (min-width:1024px) {
    main {
        width: 70%;
        float: right;
    }

    main section {
        margin: 5%;
    }

    .timetracker {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .timetracker-container {
        width: 50%;
    }
    .timetracker-container a {
        margin-top: 10%;
    }

    .timetracker p {
        width: 100%;
        margin-bottom: 10%;
        text-align: justify;
    }

    .timetracker img {
        width: 45%;
        max-width: 45%;
        height: 85%;
        margin-top: 7%;
        margin-bottom: 15px;
    }

    .functions h2 {
        width: fit-content;
        border-bottom: 4px solid #49A37B ;
    }

    .track-and-reports-container {
        display: flex;
        justify-content: space-between;
    }

    .track-and-reports-container div {
        width: 40%;
    }

    .management-and-multipleroles-container {
        display: flex;
        justify-content: space-between;
    }

    .management-and-multipleroles-container div {
        width: 40%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .why-track-time {
        margin-top: 0%;
        background-color: transparent;
    }

    .why-track-time div {
        justify-content: space-between;
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4%;
    }

    .boost-and-manage-container {
        width: 48%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
    }

    .name-email-container {
        display: flex;
        justify-content: space-between;
    }

    .name-email-select-area-container input {
        height: 30px;
        width: 48%;
        margin-bottom: 3%;
    }

    .name-email-select-area-container select {
        height: 30px;
        margin-bottom: 3%;
    }

    .contact-us-message {
        margin-bottom: 1%;
    }

    .contact-us-text {
        height: 100px;
        width: 99.4%;
    }

    .contact-us-btns-container {
        margin-bottom: 7%;
    }

    .contact-us-btns-container button {
        width: 10%;
    }

    .about-us-first-container {
        display: block;
    }

    .about-us-first-h-p-container {
        max-width: 100%;
    }

    .about-us-first-img {
        display: none;
    }

    .about-us-second-p-container  {
        margin-bottom: -10%;
    }

    .about-us-second-p-container p {
        font-style: italic;
    }
    .about-us-last-three-h-p-img-container {
        display: block;
    }

    .about-us-last-three-h-p-img-container h3 {
        width: fit-content;
        height: fit-content;
    }

    .about-us-header-thrid {
        display: block;
    }

    .about-us-img-third-p {
        display: flex;
    }

    .about-us-img-third-p img {
        width: 25%;
    }

    .about-us-img-third-p p {
        margin-left: 2%;
    }

    .about-us-fourth-p-img-container {
        display: flex;
    }

    .about-us-fourth-p-img-container img {
        margin-top: -10%;
        margin-bottom: 7%;
        /* width: 30%; */
        max-width: 28%;
    }

    .about-us-last-p-container {
        display: flex;
        width: 40%;
        justify-content: center;
        margin-left: 27%;
        margin-top: -5%;
    }
}