main {
    width: 90%;
    margin: auto;
    border-bottom: 4px solid #49A37B ;
}

section{
    border-bottom: 4px solid #49A37B ;
}

.timetracker {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-bottom: 4px solid #49A37B ;
}

.timetracker img{
    margin-top: 60px;
}
.timetracker-container {
    margin-bottom: 40px;
}

.timetracker h2 {
    font-size: 30px;
}

.timetracker h3 {
    font-size: 20px;
}

.timetracker p{
    font-size: 20px;
    margin-bottom: 40px;
}

    .btn-learn-more {
    width: 156px;
    height: 46px;
    padding: 14px 36px;
    background-color: #49a37b;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.about-us-first-container {
    display: flex;
    /* background-color: red; */
}

.about-us-first-h-p-container {
    width: 65%;
}

.about-us-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    margin-left: 15px;
}

.about-us-last-three-h-p-img-container {
    display: none;
}

.footer1 {
    display: flex;
    flex-direction: column;
}

@media (min-width:1024px) {
    main {
        width: 70%;
        float: right;
    }
    .timetracker {
        flex-direction: row-reverse;
    }
    .timetracker p {
        width: 85%;
    }
    .timetracker img {
        width: 35%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .footer1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
