main {
    display: flex;
    justify-content: center;
}

.sign-in {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    color: #262862;
}

.sign-in h2 {
    margin: 5%;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 36px;
}

.sign-in form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    height: 100%;
}

.form-input {
    width: 100%;
    margin-top: 10%;
    padding: 0px;
    border: 0cm;
    }

.input-img-log-in {
    display: flex;
    width: 100%;
    align-content: flex-end;
    border-bottom: solid 2px #212121;
    margin: 0px;
}

.input-img-log-in img {
    width: 12%;
    margin-top: 10%;
    margin-right: 10%;
}

.remember-me {
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;
}

.remember-me p {
    margin-left: 5%;
    margin-top: 2%;
}

.forgot-password {
    margin-top: 15%;
    margin-bottom: 2%;
    font-size: 12px;
    text-decoration: none;
    color: #262862;
}

.sign-in button {
    max-width: 50%;
    padding: 0px;
    border-color: transparent;
    color: transparent;
    background-color: transparent;
}

.sign-in button img {
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
}

@media (min-width:480px) {
    .sign-in {
        width: 65%;
    }
}
